@font-face {
    font-family: "Circular Std";
    src: local("Merienda"), url("~@/assets/styles/fonts/circularstd-book.otf") format("opentype");
}

@font-face {
    font-family: "Circular Std Medium";
    src: local("Merienda"), url("~@/assets/styles/fonts/circularstd-medium.otf") format("opentype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std Bold";
    src: local("Merienda"), url("~@/assets/styles/fonts/circularstd-bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std Normal";
    src: local("Merienda"), url("~@/assets/styles/fonts/circularstd-normal.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}